.input__wrapper {
  width: 100%;
  border: 2px dashed #707070;
  padding: 40px 0;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.input__wrapper.active {
  border: 2px dashed #2699fb !important;
}
