.text__primary {
  color: #2699fb;
}

.subheading {
  font-size: 18px;
  font-family: "Poppins";
  font-weight: normal;
  color: var(--primary);
}

.btn {
  font-size: 14px;
  display: inline-flex !important;
  justify-content: center;
  align-items: center;
  height: 40px;
  background: var(--color_danger);
  color: #ffffff;
}

.counts__wrapper {
  display: flex;
}

.counts__item {
  flex: 1;
  text-align: center;
  padding: 10px 0;
}

.border__left {
  border-left: 3px solid var(--color_dark);
}

.wrapper {
  min-height: 500px;
  position: relative;
  z-index: 99;
}

.title {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 28px;
  color: var(--color_dark) !important;
}

.img__wrapper {
  border: 1px solid var(--color_danger) !important;
}

@media screen and (max-width: 767px) {
  .wrapper {
    min-height: auto;
  }
  .order_1 {
    order: 2;
  }
  .order_2 {
    order: 1;
  }
  .title {
    font-size: 22px !important;
  }
  .title:first-child {
    font-size: 24px !important;
  }
}
