.wrapper {
  background: url(../../Assets/Login/loginBG.svg);
  background-position: left;
  min-height: 100vh;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
}

.form__wrapper {
  background: #ffffff;
  max-width: 600px !important;
  margin: 0 auto;
}

.title {
  color: #0f3b5e;
  font-size: 2rem;
  font-weight: bolder;
  font-family: "Poppins";
}

.topLogo {
  max-height: 50px;
}

.signup__subheading {
  color: #0f3b5e;
  font-size: 18px;
  font-family: "Poppins";
}

@media screen and (max-width: 800px) {
  .wrapper {
    background: none;
  }
}
