.backdrop {
  display: none;
}

@media screen and (max-width: 767px) {
  .backdrop {
    display: block;
    position: fixed;
    top: 0;
    left: -10%;
    bottom: 0;
    height: 100%;
    right: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 998;
    transition: 0.4s all ease;
  }
}
